@import "./shared/styles/main.scss";

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: $font-crimson;
  font-size: clamp(1rem, 2vw, 2rem);
}

p,
button,
input,
textarea {
  font-family: $font-crimson;
}

a {
  font-family: $font-crimson;
  text-decoration: none;
  color: #000;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

button {
  cursor: pointer;
}

button:hover {
  background-color: darken($color-green-button, 10%);
}

button:active {
  background-color: darken($color-green-button, 20%);
}

input::placeholder,
textarea::placeholder {
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: #000;
}

body {
  margin: auto;
}
header,
main,
footer {
  margin: auto;
  overflow: hidden;
  width: 100%;
}
